<!--
    328/diner/views/home-page.html
    Tien Han
-->
<include href="views/header.html"></include>
<body>
    <div class="container">
        <h1>Welcome to the GRC Diner!</h1>
        <h2>Serving the best burgers in Auburn!</h2>
        <img src="images/american-diner-interior.webp" alt="Diner picture">
        <br><br>
        <h3>View Menus</h3>
        <a href="menus/breakfast">Breakfast</a><br>
        <a href="menus/lunch">Lunch</a><br>
        <a href="menus/dinner">Dinner</a><br>
        <a type="button" class="btn btn-primary" href="order1">Place an Order</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>